@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
  .waikuang {
    min-width:  320px;
    min-height:  480px; }
  .waik-wai {
    height:  209px;
    margin-top:  20%; }
  .waik-wai-s {
    height:  229px;
    margin-top:  -219px; }
  .kuangwai-wen {
    padding:  15px; }
  .waik-wai-s .hb-jine {
    padding-top:  20px; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40 / 71) and (orientation: portrait) {
  .waikuang {
    min-width:  320px;
    min-height:  568px; }
  .waik-wai {
    height:  231px;
    margin-top:  30%; }
  .waik-wai-s {
    height:  251px;
    margin-top:  -241px; }
  .kuangwai-wen {
    padding:  15px; }
  .waik-wai-s .hb-jine {
    padding-top:  40px; } }

@media only screen and (min-width: 360px) and (max-width: 640px) and (min-height: 360px) and (max-height: 640px) and (orientation: portrait) {
  .waikuang {
    min-width:  360px;
    min-height:  640px; }
  .waik-wai {
    height:  247.5px;
    margin-top:  35%; }
  .waik-wai-s {
    height:  267.5px;
    margin-top:  -257.5px; }
  .kuangwai-wen {
    padding:  20px; }
  .waik-wai-s .hb-jine {
    padding-top:  40px; } }

@media only screen and (min-width: 360px) and (max-width: 567px) and (min-height: 360px) and (max-height: 567px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  .waikuang {
    min-width:  360px;
    min-height:  567px; }
  .waik-wai {
    height:  242px;
    margin-top:  25%; }
  .waik-wai-s {
    height:  262px;
    margin-top:  -252px; }
  .kuangwai-wen {
    padding:  10px; }
  .waik-wai-s .hb-jine {
    padding-top:  50px; } }

@media only screen and (min-width: 375px) and (max-width: 627px) and (min-height: 375px) and (max-height: 627px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
  .waikuang {
    min-width:  375px;
    min-height:  627px; }
  .waik-wai {
    height:  242px;
    margin-top:  35%; }
  .waik-wai-s {
    height:  262px;
    margin-top:  -252px; }
  .kuangwai-wen {
    padding:  10px; }
  .waik-wai-s .hb-jine {
    padding-top:  50px; } }

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  .waikuang {
    min-width:  414px;
    min-height:  736px; }
  .waik-wai {
    height:  264px;
    margin-top:  42%; }
  .waik-wai-s {
    height:  284px;
    margin-top:  -274px; }
  .kuangwai-wen {
    padding:  20px; }
  .waik-wai-s .hb-jine {
    padding-top:  80px; } }
