@charset "UTF-8";
/*dialog组件样式*/
.modal-dialog .modal-content .modal-header h1 {
  font-size:  18px;
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Tahoma, sans-serif; }

.modal-dialog .modal-content .modal-body .err_wen {
  width: auto;height:auto;overflow:hidden;
  padding:  20px 15px; }

.modal-dialog .modal-content .button-c {
  overflow: hidden;
  width: 100%;
  height:  45px;
  margin-left: auto;margin-right:auto;text-align:center; }
  .modal-dialog .modal-content .button-c span.button-qr {
    overflow: hidden;
    width: 44%;
    display: inline-block; }
  .modal-dialog .modal-content .button-c span.button-qx {
    overflow: hidden;
    width: 44%;
    margin-left:  3%;
    display: inline-block;
    color:  #f00;
    background-color:  #fff;
    border: 1px solid #e1e1e1; }
